///////////////////////////////////////////////////////////
//                  CLUSTER TABLES AREA
///////////////////////////////////////////////////////////

#solutionClusterView {
  // -fx-background-color: #616773;
}

/*Aligns similarity percentages in cluster table*/
.percentage-column{
  -fx-alignment: center;
}

.no-header .column-header-background {
  -fx-max-height: 0;
  -fx-pref-height: 0;
  -fx-min-height: 0;
}

// Removes horizontal scrollbars from cluster tables
#solutionClusterView .table-view .scroll-bar:horizontal {
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
  -fx-min-height: 0;
  -fx-pref-height: 0;
  -fx-max-height: 0;
  -fx-opacity: 0;
}

.titledPane-multiline > .title {
  -fx-pref-height: 40; /* increase available area */
  -fx-alignment: top-center;
  -fx-padding: 4 4 4 30; /* increase left padding to align text */
}

.titledPane-multiline > .title > .arrow-button {
  -fx-translate-x: -20; /* move back arrow, which is also subject to the padding */
}
