/*Line numbers area*/
#lineNumbers .content {
  //  -fx-background-color: #5b606b;
  -fx-text-alignment: right;
  -fx-cursor: default;
}

#lineNumbers .scroll-bar:vertical {
  -fx-pref-width: 1;
  -fx-opacity: 0;
}

#lineNumbers .scroll-bar:horizontal {
  -fx-pref-height: 1;
  -fx-opacity: 0;
}

/*Code lines area*/
#codeArea .content {
  // -fx-background-color: #454953;
}

// Code color
#codeArea {
  //  -fx-text-fill: #f3f3f3;
}
