///////////////////////////////////////////////////////////
//                  CLUSTER TABLES AREA
///////////////////////////////////////////////////////////

#solutionClusterView {
  // -fx-background-color: #616773;
}

/*Aligns similarity percentages in cluster table*/
.percentage-column{
  -fx-alignment: center;
}

.no-header .column-header-background {
  -fx-max-height: 0;
  -fx-pref-height: 0;
  -fx-min-height: 0;
}

// Removes horizontal scrollbars from cluster tables
#solutionClusterView .table-view .scroll-bar:horizontal {
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
  -fx-min-height: 0;
  -fx-pref-height: 0;
  -fx-max-height: 0;
  -fx-opacity: 0;
}

#hideSideBarButton {
  -fx-background-radius: 1000;
  -fx-opacity: 0.9;
}

#hideSideBarButton:focused {
  -fx-background-insets: 0;
}