//////////////////////////////////////////////////////
//                     MAIN VIEW
//////////////////////////////////////////////////////

#fileNameLabel:hover {
  -fx-cursor: hand;
  -fx-text-fill: #1eaefc;
}

#zipImg {
  -fx-image: url(/ee/ut/similaritydetector/img/zip_icon_light.png);
}

#zipImg:hover {
  -fx-cursor: hand;
  -fx-image: url(/ee/ut/similaritydetector/img/zip_icon_hover.png);
}
