//////////////////////////////////////////////////////
//                     MAIN VIEW
//////////////////////////////////////////////////////

#fileNameLabel:hover {
  -fx-cursor: hand;
  -fx-text-fill: #0388fc;
}

#zipImg:hover {
  -fx-cursor: hand;
}

#fileArea {

}


