///////////////////////////////////////////////////////////
//                     GLOBAL STYLES
///////////////////////////////////////////////////////////

.button:hover {
  -fx-cursor: hand;
}

// Makes all scrollbar backgrounds transparent
.scroll-bar:horizontal, .scroll-bar:vertical {
  -fx-opacity: 0.7;
  -fx-background-color: transparent;
  -fx-background-size: 0;
}

// Tooltips
.tooltip {
  -fx-opacity: 0.9;
  -fx-max-width: 250;
}

///////////////////////////////////////////////////////////
//        Removing :focused pseudo-class effects
///////////////////////////////////////////////////////////

.text-input:focused {
  -fx-highlight-fill: -fx-accent;
  -fx-highlight-text-fill: white;
  -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
  linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
  -fx-background-insets: 0, 1;
  -fx-background-radius: 3, 2;
  -fx-prompt-text-fill: transparent;
}

.text-area:focused .content {
  -fx-background-color:
          linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
  -fx-background-radius: 2;
}

.table-view:focused {
  -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
  linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
  -fx-background-insets: 0, 1;
  -fx-background-radius: 3, 2;
}
